:root {
    --vp-layout-max-width: 1600px
}

body, p {
    font-size: 14px;
}

 
/* Hiding the "aside" column on right */
.VPDoc .aside {
    display: none !important;
}

/* Main center display area | Expanding width */
.VPDoc.has-aside .content-container {
    max-width: 1500px !important;
}



